{% extends 'base.html.njk' %}

{% block body %}
<table class="table table-striped mt-3">
  <thead>
    <tr>
      <th>Animal Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total</th>
    </tr>
  </thead>
  {% for animal in cartArray %}
    <tbody>
      <tr>
        <td>{{ animal.name }}</td>
        <td>{{ animal.quantity }}</td>
        <td>${{ animal.price }}.00</td>
        <td>${{ animal.totalCost }}.00</td>
      </tr>
    </tbody>
  {% endfor %}
</table>

<h3>Total: ${{ grandTotal }}.00</h3>

<a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
